/* HEADER - NAV */
nav{
    background-color: #2c3e51;
}

/* HEADER - JUMBO */
.my_jumbo{
    background-color: #19bc9d;
}

/* MAIN - PORTFOLIO */

/* MAIN - ABOUT */
.my_about{
    background-color: #19bc9d;
}

/* MAIN - CONTACT ME */

/* FOOTER - REFERENCES */
.my_references{
    background-color: #3a546d;
}

/* FOOTER - COPYRIGHT */
.my_copyright{
    background-color: #2c3e51;
}